{% verbatim %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="content">
    {{message}}
</div>

<script>
new Vue({
    el: '#content',
    data: {
        message: 'Hello Vue.js!'
    }
})
</script>
{% endverbatim %}

<div id="content">
    {{message}}
</div>

